/*! CSS Used from: http://localhost:4783/js/owl-carousel/owl.carousel.css */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

    .owl-carousel .owl-wrapper {
        display: none;
        position: relative;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    .owl-carousel .owl-wrapper-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .owl-carousel .owl-item {
        float: left;
    }

.owl-controls .owl-page {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
/*! CSS Used from: http://localhost:4783/js/owl-carousel/owl.theme.css */
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}

    .owl-theme .owl-controls .owl-page {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

        .owl-theme .owl-controls .owl-page span {
            display: block;
            width: 12px;
            height: 12px;
            margin: 5px 7px;
            filter: Alpha(Opacity=50);
            opacity: 0.5;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            background: #869791;
        }

    .owl-theme .owl-controls.clickable .owl-page:hover span {
        filter: Alpha(Opacity=100);
        opacity: 1;
    }
/*! CSS Used from: http://localhost:4783/css/bootstrap.min.css */
body {
    margin: 0;
}

header, section {
    display: block;
}

[hidden] {
    display: none;
}

a {
    background: 0 0;
}

    a:active, a:hover {
        outline: 0;
    }

img {
    border: 0;
}

button, input {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button, input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        a[href^="javascript:"]:after, a[href^="#"]:after {
            content: "";
        }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .navbar {
        display: none;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #428bca;
    text-decoration: none;
}

    a:hover, a:focus {
        color: #2a6496;
        text-decoration: underline;
    }

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

img {
    vertical-align: middle;
}

h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

.text-center {
    text-align: center;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs-3, .col-lg-4, .col-md-6, .col-lg-6, .col-md-8, .col-lg-8, .col-xs-9, .col-lg-10, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-3, .col-xs-9, .col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-3 {
    width: 25%;
}

@media (min-width:768px) {
    .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .col-md-6, .col-md-8, .col-md-12 {
        float: left;
    }

    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: 66.66666666666666%;
    }

    .col-md-6 {
        width: 50%;
    }
}

@media (min-width:1200px) {
    .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-10, .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-10 {
        width: 83.33333333333334%;
    }

    .col-lg-8 {
        width: 66.66666666666666%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-4 {
        width: 33.33333333333333%;
    }

    .col-lg-pull-1 {
        right: 8.333333333333332%;
    }

    .col-lg-push-1 {
        left: 8.333333333333332%;
    }
}

table {
    max-width: 100%;
    background-color: transparent;
}

.collapse {
    display: none;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

    .nav > li {
        position: relative;
        display: block;
    }

        .nav > li > a {
            position: relative;
            display: block;
            padding: 10px 19px;
        }

            .nav > li > a:hover, .nav > li > a:focus {
                text-decoration: none;
                background-color: #eee;
            }

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px;
    }
}

@media (min-width:768px) {
    .navbar-header {
        float: left;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

        .navbar-collapse.collapse {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }

    .navbar-static-top .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.container > .navbar-header, .container > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -5px;
}

@media (min-width:768px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

@media (min-width:768px) {
    .navbar-static-top {
        border-radius: 0;
    }
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
}

    .navbar-brand:hover, .navbar-brand:focus {
        text-decoration: none;
    }

@media (min-width:768px) {
    .navbar > .container .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .navbar-toggle:focus {
        outline: 0;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }

        .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px;
        }

@media (min-width:768px) {
    .navbar-toggle {
        display: none;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }

@media (min-width:768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

        .navbar-nav > li {
            float: left;
        }

            .navbar-nav > li > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-brand {
        color: #777;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
            color: #5e5e5e;
            background-color: transparent;
        }

    .navbar-default .navbar-nav > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            color: #fff;
            background-color: transparent;
        }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #ddd;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #888;
        }

    .navbar-default .navbar-collapse {
        border-color: #e7e7e7;
    }

.container:before, .container:after, .row:before, .row:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}

.container:after, .row:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after {
    clear: both;
}
/*! CSS Used from: http://localhost:4783/css/style.css */
/*! @import http://localhost:4783/css/font-awesome.css */
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-angle-up:before {
    content: "\f106";
}
/*! end @import */
/*! @import http://localhost:4783/css/animate.css */
body {
    -webkit-backface-visibility: hidden;
}
/*! end @import */
.CenteredImage {
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    height: unset !important;
    max-width: 99% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    min-width: 100% !important;
    margin: auto;
}

@media (max-width:1200px) {
    .navbar-brand img {
        padding-bottom: 15px;
    }
}

a:hover, a:focus {
    text-decoration: unset !important;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
    min-width: 400px !important;
}

a:active {
    outline: 0;
}

.clear {
    clear: both;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.container {
    padding: 0 20px 0 20px;
    position: relative;
    color: black !important;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    color: #555;
}

h2 {
    font-size: 22px;
}

header .navbar {
    margin-bottom: 0;
}

.navbar-default {
    border: none;
}

.navbar-brand {
    color: #222;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1px;
    margin-top: 12px;
    padding: 0 0 0 15px;
}

.navbar-default .navbar-brand {
    color: #61B331;
}

header .navbar-collapse ul.navbar-nav {
    margin-right: auto;
}

header .navbar-default {
    background-color: #fff;
}

.navbar-nav .menu_social {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 35px;
}

    .navbar-nav .menu_social #facebook {
        background-image: url(http://localhost:4783/assets/Facebook.png);
        background-size: contain;
    }

        .navbar-nav .menu_social #facebook:hover {
            background-image: url(http://localhost:4783/assets/FacebookHover.png) !important;
        }

    .navbar-nav .menu_social #instagram {
        background-image: url(http://localhost:4783/assets/Instagram.png);
        background-size: contain;
    }

        .navbar-nav .menu_social #instagram:hover {
            background-image: url(http://localhost:4783/assets/InstagramHover.png) !important;
        }

    .navbar-nav .menu_social #snap {
        background-image: url(http://localhost:4783/assets/snap.png);
        background-size: contain;
    }

        .navbar-nav .menu_social #snap:hover {
            background-image: url(http://localhost:4783/assets/SnapHover.png) !important;
        }

header .navbar {
    min-height: 120px;
    padding: 18px 0 0;
}

header .navbar-nav > li > a {
    padding-bottom: 6px;
    padding-top: 5px;
    margin-left: 2px;
}

h3 {
    font-size: 20px;
}

header ul.nav li {
    border: none;
    margin: 0;
}

    header ul.nav li a {
        font-size: 16px;
        border: none;
        text-transform: uppercase;
    }

.navbar .nav > li > a {
    color: #E9B244;
    font-family: Lato-regular !important;
    text-shadow: none;
    padding-right: 20px;
    font-size: 20px !important;
    padding-left: 20px;
}

.navbar .nav a:hover {
    color: #832623 !important;
    font-family: Lato-Bold !important;
    font-size: 20px;
    border-bottom: 3px solid #832623;
    padding-bottom: 49px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #832623;
}

#featured {
    width: 100%;
    background: #000;
    position: relative;
    margin: 0;
    padding: 0;
}

#story {
    width: 100%;
    background: url(http://localhost:4783/assets/OurStory.jpg);
    position: relative;
    margin: 0;
    padding: 0;
}

    #story .title {
        text-align: center;
        color: #832623;
        margin-top: 35px !important;
        margin-bottom: 35px !important;
        float: left;
        font-family: 'Open Sans';
        font-size: 50px;
        text-transform: uppercase !important;
        width: 100%;
    }

    #story .text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 80%;
        color: black;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }

.article {
    height: 500px;
}

#article1 {
    background-size: cover;
}

#article2 {
    background-size: cover;
    background-image: linear-gradient( rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(http://localhost:4783/assets/article2.jpg);
}

#featured .flexslider {
    padding: 0;
    background: #fff;
    position: relative;
    zoom: 1;
}

.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0px;
    right: 20px;
    background: #222;
}

a.scrollup {
    outline: 0;
    text-align: center;
}

    a.scrollup:hover, a.scrollup:active, a.scrollup:focus {
        opacity: 1;
        text-decoration: none;
    }

    a.scrollup i {
        margin-top: 10px;
        color: #fff;
    }

        a.scrollup i:hover {
            text-decoration: none;
        }

@media (min-width: 767px) {
    .phone {
        display: none !important;
    }
}

@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-brand {
        margin-top: 10px;
        border-bottom: none;
    }

    .navbar-header {
        margin-top: 0;
        border-bottom: none;
    }

    .navbar-nav {
        border-top: none;
        float: none;
        width: 100%;
    }

    .menuitem {
        font-family: Lato-Regular;
        font-size: 20pt;
        font-weight: 500;
        border: none !important;
    }

        .menuitem :hover {
            font-family: Lato-Bold;
            font-size: 20pt;
            font-weight: 800;
            border: none !important;
        }

    .desktop {
        display: none !important;
    }

    .navbar-collapse {
        width: 100% !important;
    }

    header ul.nav li {
        float: unset !important;
        display: inline-block !important;
    }

    .navbar-nav .menu_social {
        padding-top: 0px !important;
    }

    #banner1 {
        height: 200px !important;
    }

    header .navbar-nav > li {
        padding-bottom: 0;
        padding-top: 0;
    }

    .navbar-collapse.collapse {
        border: none;
        margin-top: 30px;
        overflow: hidden;
    }
}

.testimonial {
    padding: 0 15px;
    text-align: center;
}

    .testimonial .pic {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 25px;
        overflow: hidden;
        border-radius: 50% !important;
        background-image: url('http://localhost:4783/assets/CC_Assets_Testimonials_Circle.png');
        background-repeat: no-repeat;
        background-size: 100px;
    }

        .testimonial .pic img {
            width: 100%;
            height: auto;
        }

    .testimonial .description {
        padding: 0 15px;
        font-size: 13px;
        color: #808080;
    }

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: #f3904d;
    margin: 5px 7px;
    opacity: 0.5;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

    .material-icons:hover {
        background-color: unset;
        color: unset;
    }

.selected {
    color: #842522 !important;
    cursor: pointer;
}

ir {
    cursor: pointer;
}

.reviewcss {
    outline: none;
    border-width: 0px;
    border-bottom-width: thin;
    width: 90%;
    margin-bottom: 25px;
    background-color: rgba(249,249,249,1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    vertical-align: top;
}

    td.price {
        text-align: right;
        font-family: PoetsenOne-Regular;
        width: 10%;
    }

    td.line {
        width: 90%;
        background: center;
        background-image: url(http://localhost:4783/assets/MenuLine.jpg);
        background-repeat: no-repeat;
        background-position-y: 15px;
        background-size: 95%;
        background-position-x: right;
    }

    td.foodcat {
        text-transform: uppercase;
        font-family: Lato-Bold;
        background-color: white;
        position: relative;
        padding-bottom: 2px;
    }

    td.foodsample {
        font-family: Lato-Bold;
        background-color: white;
        position: relative;
        text-transform: uppercase;
    }

.reviewsRating {
    padding-left: -5px;
}

@media only screen and (max-width: 300px) {
    .footerlogo {
        text-align: center;
    }
}

.footerlogo {
    text-align: right;
}

.redfont {
    color: #842522;
}

.realred {
    color: red;
}

.orangefont {
    color: orange;
}

.goldenfont {
    color: #E9B244;
}

.menusep {
    background-image: url('http://localhost:4783/assets/menu_separator.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 200px;
    background-size: unset;
}

@media all and (max-width: 800px) {
    .menusep {
        background: none;
        margin-top: 0px;
    }
}

@media all and (min-width: 800px) {
    .rightmenupadding {
        padding-left: 100px;
    }
}
/*! CSS Used from: http://localhost:4783/css/flexslider.css */
.flexslider a:active, .flexslider a:focus {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
}

    .flexslider .slides > li {
        display: none;
        -webkit-backface-visibility: hidden;
    }

    .flexslider .slides img {
        width: 100%;
        display: block;
    }

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

.flexslider {
    background: none;
    position: relative;
    zoom: 1;
}

    .flexslider .slides {
        zoom: 1;
    }

.flex-direction-nav {
    *height: 0;
}

    .flex-direction-nav a {
        width: 56px;
        height: 71px;
        margin: 20px;
        display: block;
        background: url(http://localhost:4783/assets/CC_Assets_Header_Arrow-Left.png) no-repeat 0 0;
        position: absolute;
        top: 45%;
        z-index: 10;
        cursor: pointer;
        text-indent: -9999px;
        opacity: 0;
        -webkit-transition: all .3s ease;
    }

    .flex-direction-nav .flex-next {
        background-position: 100% 0;
        right: 20px;
        background: url(http://localhost:4783/assets/CC_Assets_Header_Arrow-Right.png) no-repeat 0 0;
    }

    .flex-direction-nav .flex-prev {
        left: 20px;
    }

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

    .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
        opacity: 1;
    }

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 12px;
    z-index: 99;
    text-align: center;
}

    .flex-control-nav li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

    .flex-control-paging li a:hover {
        background: #333;
        background: rgba(0,0,0,0.7);
    }

    .flex-control-paging li a.flex-active {
        background: #000;
        background: rgba(0,0,0,0.9);
        cursor: default;
    }

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 30px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 30px;
    }
}

@media only screen and (max-width: 860px) {
    .flexslider .slides > li {
        object-fit: cover;
        height: 500px;
    }

    .sliderimg {
        object-fit: cover;
        height: 500px;
    }
}
/*! CSS Used from: Embedded */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
    float: right;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: 'FontAwesome';
    src: url('http://localhost:4783/fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('http://localhost:4783/fonts/fontawesome-webfont.eot#iefix&v=4.0.3') format('embedded-opentype'), url('http://localhost:4783/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('http://localhost:4783/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('http://localhost:4783/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('http://localhost:4783/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('http://localhost:4783/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('http://localhost:4783/fonts/materials1.woff2') format('woff2'), url('http://localhost:4783/fonts/materials.woff') format('woff');
}

@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('http://localhost:4783/fonts/PoetsenOne-Regular.ttf') format('truetype');
}
