<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crimsoncoward.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://crimsoncoward.com:8172/msdeploy.axd?site=crimsoncoward.com</MSDeployServiceURL>
    <DeployIisAppPath>crimsoncoward.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ph14701173931</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CrimsonCowardEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CrimsonCoward.DAL.CrimsonCowardEntities, CrimsonCoward.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CrimsonCowardConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=198.71.227.2;Initial Catalog=CrimsonCoward;User ID=ph14701173931;Password=ull27NEVER!)guess57" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CrimsonCowardConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=198.71.227.2;Initial Catalog=CrimsonCoward;User ID=ph14701173931;Password=ull27NEVER!)guess57" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CrimsonCowardConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CrimsonCowardEntities-Web.config Connection String" />
  </ItemGroup>
</Project>